name: metamers
channels:
  - bioconda
  - pytorch
  - conda-forge
  - anaconda
  - defaults
dependencies:
  - python>=3.7,3.10
  - pip
  - ipykernel
  - scipy>=1.6
  - seaborn>=0.11
  - pandas>=1.2
  - snakemake-minimal>=5.10,<6.0
  - imageio>=2.9
  - scikit-image>=0.18
  - h5py>=2.10
  - matplotlib>=3.3
  - pytorch>=1.8
  - numpyro>=0.5.0
  - arviz>=0.11
  - tabulate>=0.8.9
  - xmltodict>=0.12
  - svgutils
  - pytest>=5.0.1
  - gputil>=1.4.0
  - opt_einsum>=3.3
  - pip:
      - torchcontrib==0.0.2
      - pyrtools>=1.0
      - git+https://github.com/LabForComputationalVision/plenoptic.git@main
      - flatten_dict
      - blume >= 0.2.2
      - funsor>=0.4.0
