name: tests
on:
  push:
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  test_models:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup conda
        uses: s-weigand/setup-conda
        with:
          update-conda: true
          python-version: 3.7.1
          conda-channels: anaconda, conda-forge, bioconda
      - name: Create environment
        run: |
          conda install mamba -n base -c conda-forge
          mamba env create -f environment.yml
          source activate metamers
          pip install pytest
      - name: Run tests with pytest
        run: |
          source activate metamers
          pytest tests/test_models.py

  test_snakefile:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup conda
        uses: s-weigand/setup-conda
        with:
          update-conda: true
          python-version: 3.7.1
          conda-channels: anaconda, conda-forge, bioconda
      - name: Create environment
        run: |
          conda install mamba -n base -c conda-forge
          mamba env create -f environment.yml
          source activate metamers
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v1
      - name: Download data
        run: |
          mkdir -p data/metamers/ref_images/
          curl -O -J -L https://osf.io/4wyg3/download
          tar xf textures-subset-for-testing.tar.gz -C data
          rm textures-subset-for-testing.tar.gz
      - name: modify config.yml
        run: |
          sed -i 's|DATA_DIR:.*|DATA_DIR: "data/metamers"|g' config.yml
          sed -i 's|TEXTURE_DIR:.*|TEXTURE_DIR: "data/textures-subset-for-testing"|g' config.yml
      - name: run snakemake test
        run: |
          source activate metamers
          cp extra_packages/data/einstein.pgm data/metamers/ref_images/einstein_size-256,256.png
          snakemake -j 5 -prk data/metamers/test_setup/RGC_norm_gaussian_gpu-0/einstein data/metamers/test_setup/V1_norm_s6_gaussian_gpu-0/einstein

  run_Freeman_check_notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup conda
        uses: s-weigand/setup-conda
        with:
          update-conda: true
          python-version: 3.7.1
          conda-channels: anaconda, conda-forge, bioconda
      - name: Create environment
        run: |
          conda install mamba -n base -c conda-forge
          mamba env create -f environment.yml
          source activate metamers
          mamba install jupyter nbconvert
      - name: modify config.yml
        run: |
          sed -i 's|DATA_DIR:.*|DATA_DIR: "data/metamers"|g' config.yml
          sed -i 's|TEXTURE_DIR:.*|TEXTURE_DIR: "data/textures-subset-for-testing"|g' config.yml
          mkdir -p data/metamers
          mkdir -p data/textures-subset-for-testing
      - name: Download data
        run : |
          source activate metamers
          snakemake -j 1 -prk download_freeman_check
      - name: run nbconvert
        run: |
          source activate metamers
          jupyter kernelspec list
          jupyter nbconvert --ExecutePreprocessor.kernel_name=python3 --to notebook --execute notebooks/Freeman_Check.ipynb
